@model VetGest.Models.Caso

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Caso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="PacienteID" />
            <input type="hidden" asp-for="Fecha" />
            <input type="hidden" asp-for="CasoN" />

            @*<input type="hidden" asp-for="Activo" />*@

            @*<div class="form-group">
            <label asp-for="CasoN" class="control-label"></label>
            <input asp-for="CasoN" class="form-control" />
            <span asp-validation-for="CasoN" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="PacienteID" class="control-label"></label>
            <input asp-for="PacienteID" class="form-control" />
            <span asp-validation-for="PacienteID" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
            <label asp-for="UsuarioId" class="control-label"></label>
            <input asp-for="UsuarioId" class="form-control" />
            <span asp-validation-for="UsuarioId" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Fecha" class="control-label"></label>
            <input asp-for="Fecha" class="form-control" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="MotivoConsulta" class="control-label"></label>
                <input asp-for="MotivoConsulta" class="form-control" />
                <span asp-validation-for="MotivoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-warning" role="button" asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
