@{
    ViewData["Title"] = "Home Page";
}
<div class="main">
    <div id="dp"></div>
</div>

@section Scripts{

    <script>
    var dp = new DayPilot.Calendar("dp", {
    locale: "es-es",
    viewType: "Day",
    cellHeight: 30,
    allowEventOverlap: false,
    timeRangeSelectedHandling: "Disabled",
    eventDeleteHandling: "Disabled",
    eventMoveHandling: "Disabled",
    eventResizeHandling: "Disabled",
    eventClickHandling: "Disabled",
    eventHoverHandling: "Disabled",
    });
        //dp.event.list = []


    cargarAgenda(dp);
    function cargarAgenda(dp) {
    $.ajax({
    url: 'Home/TraerAgenda',
    type: 'GET',
    dataType: "json",
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                var e = new DayPilot.Event({
                    start: new DayPilot.Date(data[i].start),
                    end: new DayPilot.Date(data[i].end),
                    id: data[i].id,
                    text: data[i].text
                });
                dp.events.add(e);
            }
    //dp.event.list = data;
    dp.init();
    }
    });
    }


    @*dp.events.list.push(@ViewBag.eventos) ;
        dp.init();*@
    </script>
}

